body, html {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #333333;
}

p {
    margin: 0;
}

.f-s-18 {
    font-size: 1.12rem;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 99999;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
}

.navbar {
    height: 80px;
}

.bi-chevron-down, .bi-chevron-left, .bi-chevron-right, .blue-icon {
    color: #BABABA;
    margin: 0 5px 0 5px;
}

.blue-icon {
    color: #008EFF;
}

.bi-list {
    font-size: 1.63rem;
}

.bg-image {
    background-image: url("images/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 45%;
    height: 300px;
    margin-top: 80px;
}

.logo-container {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -65px;
}

@media (max-width: 770px) {
    .bg-image {
        height: 200px;
    }

    .logo-container {
        width: 115px;
        height:115px;
    }
}

.delimiter {
    border-bottom: 1px #d6d6d6 solid;
    margin-bottom: 15px;
}

.search-menu {
    border: 1px solid rgba(51, 51, 51, .15);
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}

.cat-menu {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
}

.cat-menu::-webkit-scrollbar {
    display: none;
}

.cat-menu a {
    font-weight: 700;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(186, 186, 186, .1);
    border-radius: 10px;
}

a.cat-menu-active, .cat-menu a:hover {
    background-color: rgba(0, 142, 255, .1);
    color: #008EFF;
}

.card {
    min-height: 105px;
}

.card-image img {
    margin-left: 6px;
    width: 78px;
    height: 78px;
    border-radius: 10px;
}

.f-w-700 {
    font-weight: 700;
}

.f-w-800 {
    font-weight: 800;
}

.f-w-900 {
    font-weight: 900;
}

.f-s-price {
    font-size: 1.22rem;
}

.f-s-gr {
    font-size: .9rem;
    color: #BABABA;
}

.items-in-cart {
    font-size: .78rem;
}

.bgr-dark {
    background-color: #F7F7F7;
}

.card {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cart {
    width: 370px;
    height: 100vh;
    position: fixed;
    top: 80px;
    overflow: auto;
    padding-bottom: 100px;
    right: 0;
    margin-right: -370px;
    background: rgba(255, 255, 255);
    box-shadow: -10px 0px 25px rgba(0, 0, 0, 0.05);
    transition: all 1s ease;
}

.cart-show {
    margin-right: 0;
}

.minus-button, .plus-button {
    background-color: rgba(0, 142, 255, .1);
    border-radius: 5px;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #008EFF;
}

.checkout-button {
    background-color: #008EFF;
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    outline: none;
}

.checkout-button:hover {
    color: #fff;
}

.card-text {
    min-height: 65px;
}

.horizontal-menu {
    background: #FFFFFF;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.btn:focus, .btn:active {
    box-shadow: none;
}

.add-to-cart {
    text-align: center;
    position: absolute;
    top: 21px;
    margin-left: 58px;
    background-color: #008EFF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    padding: 5px;
}

.card-image:hover img {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

.title-pub {
    margin: -10px -20px auto auto;
}